@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/*=====Variables Css ====*/
:root {
    --header-height: 3rem;
  
    /*=====Colors ====*/
    --first-color: #0A315C;
    --second-color:  #084B6F;
    --third-color:  #066A87;
    --fourth-color: #04889E;
    --text-color: #D1E1E7;
    
    
  
    /*=====Font and Typography ====*/
    --body-font: 'Montserrat', sans-serif !important;
    --biggest-font-size: 2.5rem !important;
    --h1-font-size: 1.5rem !important;
    --h2-font-size: 1.25rem !important;
    --h3-font-size: 1.125rem !important;
    --normal-font-size: .938rem !important;
    --small-font-size: .813rem !important;
    --smaller-font-size: .75rem !important;
  
    /*=====Font Weight ====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*=====Margins ====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
    /*=====z-index ====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 670px) {
    :root {
      --biggest-font-size: 4.5rem !important;
      --h1-font-size: 2rem !important;
      --h2-font-size: 1.5rem !important;
      --h3-font-size: 1.25rem !important;
      --normal-font-size: 1rem !important;
      --small-font-size: .875rem !important; 
      --smaller-font-size: .813rem !important;
    }
  } 

  body{
      font-family: var(--body-font);
  }

  header{
    background-image: url(../images/header-img.jpg);
    background-size: cover;
    background-position: center;
    min-height: 900px;
}
  

  @media screen and (max-width:670px){
      header{
          min-height:600px
      }
  }

  /*----Navigation and header and typography----*/
.nav-wrapper{
    background-color: var(--first-color);
}

.brand-logo{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color) !important;
}
.link-text{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}
.subtitle{
    font-weight: var(--font-semi-bold);
    font-size: 4em;
    color: var(--first-color);
    padding-top: 2em;
    letter-spacing: 0.1em;
}
@media screen and (max-width:670px){
    .subtitle{
        font-size: 3em;
        padding-top: 0.5em;
    }
}

.text{
    font-size: var(--body-font) !important;
    color: var(--second-color) !important;
    letter-spacing: 0.1em;
    line-height: 2em;
}
 .big-text{
     font-size: var(--h2-font-size) !important;
     font-weight: var(--font-semi-bold) !important;
     color: var(--first-color)!important;
 }
 
.active{
    background-color: var(--second-color);
}

.sidenav-color{
    background-image: url(../images/sidenav-img.jpg); 

}
.sidenav-text{
    color: var(--first-color)!important;
    font-weight: var(--font-semi-bold) !important;
    margin: 1em;
    padding: 1em;
  
}

.row-new{
    background-color: var(--second-color);
}

.card-new{
    margin-top: 3.5em;
}

.text-link{
    font-weight: var(--font-semi-bold);
    color: var(--second-color) !important;
    letter-spacing: 0.3em;
}
.subtitle-new{
    font-weight: var(--font-semi-bold);
    font-size: 4em;
    color: var(--first-color);
    letter-spacing: 0.1em;
}

/*-------Search Section-----*/
.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 900px;
    width: 100%;
    margin-top: 10em;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
@media screen and (max-width:670px){
    .wrapper{
        margin-top: 3.5em;
        padding-top: 10px;
    }
}

.searchbtn {
    background: var(--second-color);
    width: 15%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    cursor:var(--text-color);
}

.searchbtn .material-icons{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    
}

.search {
    background-color: transparent;
    border: none;
    outline: none;
    height: 3rem;
    width: 85%;
    font-size: 1.2rem;
    margin: 0 0 20px 0;
    padding: 7px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: var(--text-color);
} 
   