@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/*=====Variables Css ====*/
:root {
    --header-height: 3rem;
  
    /*=====Colors ====*/
    --first-color: #0A315C;
    --second-color:  #084B6F;
    --third-color:  #066A87;
    --fourth-color: #04889E;
    --text-color: #D1E1E7;
    
    
  
    /*=====Font and Typography ====*/
    --body-font: 'Montserrat', sans-serif !important;
    --biggest-font-size: 2.5rem !important;
    --h1-font-size: 1.5rem !important;
    --h2-font-size: 1.25rem !important;
    --h3-font-size: 1.125rem !important;
    --normal-font-size: .938rem !important;
    --small-font-size: .813rem !important;
    --smaller-font-size: .75rem !important;
  
    /*=====Font Weight ====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*=====Margins ====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
    /*=====z-index ====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 780px) {
    :root {
      --biggest-font-size: 4.5rem !important;
      --h1-font-size: 2.25rem !important;
      --h2-font-size: 1.5rem !important;
      --h3-font-size: 1.25rem !important;
      --normal-font-size: 1rem !important;
      --small-font-size: .875rem !important; 
      --smaller-font-size: .813rem !important;
    }
  }

  body{
      font-family: var(--body-font);
  }

  header{
      background-image: url(/images/header-img.jpg);
      background-size: cover;
      background-position: center;
      min-height: 700px;
  }

  @media screen and (max-width:670px){
      header{
          min-height:500px
      }
  }

  /*----Navigation and header----*/
.nav-color{
    background-color: var(--first-color);
}

.brand-logo{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    color: var(--fourth-color) !important;
}
.link-text{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}
.subtitle{
    font-weight: var(--font-semi-bold);
    font-size: 4em;
    color: var(--first-color);
    padding-top: 2em;
}

@media screen and (max-width:670px){
    .subtitle{
        font-size: 2em;
    }
}
.active{
    background-color: var(--second-color);
}

.sidenav-color{
    background-color: var(--first-color);
}

/*-------Search Section-----*/
.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 900px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.searchbtn {
    background: var(--fourth-color);
    width: 5%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    cursor:var(--text-color);
}

.searchbtn .material-icons{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}